
<div class="sidenav">
    <img src="../../../../assets/images/logomark wallet.svg" alt="logo" class="sidenav__img">
    <a routerLink="/" class="first-child">Dashboard</a>
    <a routerLink="#">Users</a>
    <a routerLink="#">Send Money  <img src="../../../../assets/images/arrow-right.svg" alt="nav-right"  class="sidenav__fontRight-sendmoney"></a>
    <a routerLink="#">Request Money</a>
    <a routerLink="#">Buy Airtime</a>
    <a routerLink="#">Pay Bills</a>
    <a routerLink="/cards">Cards</a>
    <a routerLink="#">Reports  <img src="../../../../assets/images/arrow-right.svg" alt="nav-right"  class="sidenav__fontRight-reports"></a>
    <a routerLink="#">Settings</a>
    <a routerLink="#">API Documentation</a>
</div>
